*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

.btn{
  width: 10rem;
  border-radius: 6px;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.btn-yellow{
  background-color: #FBC508;
  border: none;
  font-weight: 700;
  color: #000;
}
.btn-yellow:hover{
  background-color: #d4a90e;
  font-weight: 700;
  color: #fff;
  transition: 0.5s;
}

.btn-trans{
  background-color: transparent;
  border: 1px solid #c2c2c2;
  color: #fff;
}

.btn-trans:hover{
  background-color: transparent;
  border: 1px solid #d4a90e;
  color: #d4a90e;
  transition: 0.5s;
}